---
---

@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('{{ "/assets/fonts/EB-Garamond-Extended-Latin.woff" | relative_url }}') format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('{{ "/assets/fonts/EB-Garamond-Latin.woff" | relative_url }}') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.serif {
    font-family: 'EB Garamond', serif;
}

.card-hover-thingy {
    transition: box-shadow 0.5s ease, transform 0.5s ease, filter 0.5s ease;
}

.card-hover-thingy:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    transform: scale(1.07);
    z-index: 1;
}

.hover-shade:hover {
    filter: brightness(50%);
}

.h-70 {
    height: 70vh;
}

.gallery-expand {
    cursor: pointer;
}

.square:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.fill {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.background-image {
    background-position: center;
    background-size: cover;
}

.background-image-volleyball {
    background-image: url('{{ "/assets/images/volleyball-cover-reduced.jpg" | relative_url }}');
}

.background-image-basketball {
    background-image: url('{{ "/assets/images/basketball-cover-reduced.jpg" | relative_url }}');
}

.background-image-football {
    background-image: url('{{ "/assets/images/football-cover-reduced.jpg" | relative_url }}');
    background-position-x: calc(50% - 34px);
}

.background-image-frisbee {
    background-image: url('{{ "/assets/images/frisbee-cover-reduced.jpg" | relative_url }}');
}

.background-image-swimming {
    background-image: url('{{ "/assets/images/swimming-cover-reduced.jpg" | relative_url }}');
    background-position-x: calc(50% + 7px);
}
