---
layout: default
---

<!-- TODO, reduce size -->
{%- assign images = site.static_files | where: "field", page.field -%}

<div class="row mx-3">
  {%- for image in images -%}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2 px-1">
      <div class="card text-center text-white bg-dark rounded-0 border-0 card-hover-thingy square hover-shade">
        <div class="background-image card-img fill" style="background-image: url({{ "/photos/thumbnails/" | append: image.field | append: "/" | append: image.name | relative_url }});"></div>
        <a class="gallery-expand card-img-overlay text-decoration-none text-reset" data-toggle="modal" data-target="#image-{{ forloop.index0 }}"></a>
      </div>
    </div>

    <div class="modal fade" id="image-{{ forloop.index0 }}" tabindex="-1">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <img class="w-100" src="{{ image.path | relative_url }}">
        </div>
      </div>
    </div>
  {%- endfor -%}
</div>
