---
layout: default
---

<div class="row mx-3">
  {%- for image in page.images -%}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2 px-1">
      <div class="card text-center text-white bg-dark rounded-0 border-0 card-hover-thingy square hover-shade">
        <div class="background-image card-img fill" style="background-image: url({{ "/assets/images/" | append: image | append: "-reduced.jpg" | relative_url }});"></div>
        <!-- TODO: go to #id-of-this-image and this somehow does some crazy javascript -->
        <a class="gallery-expand card-img-overlay text-decoration-none text-reset" data-toggle="modal" data-target="#image-{{ forloop.index0 }}"></a>
      </div>
    </div>

    <div class="modal fade" id="image-{{ forloop.index0 }}" tabindex="-1">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <img class="w-100" src="{{ "/assets/images/" | append: image | append: ".jpg" | relative_url }}">
        </div>
      </div>
    </div>
  {%- endfor -%}
</div>
