---
layout: default
---

{%- if page.title -%}
  <h1>{{ page.title }}</h1>
{%- endif -%}

<div class="row mx-3">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl mt-2 px-1">
    <div class="card text-center text-white bg-dark">
      <img src="@" class="card-img" height="700" alt="A very big image">
      <div class="card-img-overlay">
        <h2 class="card-title" style="margin-top: 30%;">Volleyball</h2>
        <a href="/volleyball" class="btn bg-transparent border">View</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl mt-2 px-1">
    <div class="card text-center text-white bg-dark">
      <img src="@" class="card-img" height="700" alt="A very big image">
      <div class="card-img-overlay">
        <h2 class="card-title" style="margin-top: 30%;">Basketball</h2>
        <a href="/basketball" class="btn bg-transparent border">View</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl mt-2 px-1">
    <div class="card text-center text-white bg-dark">
      <img src="@" class="card-img" height="700" alt="A very big image">
      <div class="card-img-overlay">
        <h2 class="card-title" style="margin-top: 30%;">Football</h2>
        <a href="/football" class="btn bg-transparent border">View</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl mt-2 px-1">
    <div class="card text-center text-white bg-dark">
      <img src="@" class="card-img" height="700" alt="A very big image">
      <div class="card-img-overlay">
        <h2 class="card-title" style="margin-top: 30%;">Frisbee</h2>
        <a href="/frisbee" class="btn bg-transparent border">View</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl mt-2 px-1">
    <div class="card text-center text-white bg-dark">
      <img src="@" class="card-img" height="700" alt="A very big image">
      <div class="card-img-overlay">
        <h2 class="card-title" style="margin-top: 30%;">Swimming</h2>
        <a href="/swimming" class="btn bg-transparent border">View</a>
      </div>
    </div>
  </div>
</div>

{{ content }}
