---
layout: default
---

<div class="row mx-3">
  {%- assign cards = "volleyball, basketball, football, frisbee, swimming" | split: ", " -%}
  {%- for card in cards -%}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl mt-2 px-1">
      <div class="card text-center text-white bg-dark rounded-0 border-0 card-hover-thingy">
        <div class="h-70 background-image background-image-{{ card }} card-img rounded-0"></div>
        <a href="{{ "/" | append: card | relative_url }}" class="card-img-overlay text-decoration-none text-reset">
          <h2 class="card-title serif" style="margin-top: 30%;">{{ card | capitalize }}</h2>
          <button class="btn bg-transparent text-light border">View</button>
        </a>
      </div>
    </div>
  {%- endfor -%}
</div>

{{ content }}
